@font-face {
  font-family: 'iconfont';  /* project id 2392992 */
  src: url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.eot');
  src: url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2392992_kv1qlnsn0qr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconiconfontjiantou2:before {
  content: "\e632";
}

